* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Red Rose", cursive;
}
body {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assest/Image.jpg");
    background-size: cover;
  background-attachment: fixed;
  padding: 0 0 50px 0;
  
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 60px;
    margin-top: 55px;
}
.list {
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffc233;
}

.logo, .list-item {
    cursor: pointer;
     border-radius: 400px;
}

.button-small {
    padding: 12px 40px;
    background-color: #ff505f;
    border: none;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
}

/* HERO */
.hero {
max-width: 1154px;
margin: 0 auto;
text-align: center;
margin-top: 100px;
}

.hero-heading {
font-family: "Dela Gothic One", cursive;
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 114px;
/* 110% */
color: #ffc233;
}
.button-large {
background-color: #ff505f;
font-family: "Red Rose";
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #ffffff;
border: none;
padding: 20px 50px;
cursor: pointer;
border-radius: 30px;


}

.bottom {
    position: absolute;
    bottom: 10px;
    right: 40px;
    
}


